.loader {
    background-color: black;
    margin: 0; /* Remove default margin */
    height: 100vh; /* Make the body take up the full height of the viewport */
    display: flex; /* Use flexbox to center the loader */
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    font-family: Arial, sans-serif; /* Add a fallback font */
  }
  

.glitch {
    position: relative;
    font-size: 10vw;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    letter-spacing: 5px;
    z-index: 1;
    -webkit-animation: shift 1s ease-in-out infinite alternate;
            animation: shift 1s ease-in-out infinite alternate;
 }
 
 .glitch:before,
 .glitch:after {
    display: block;
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    
 }
 
 .glitch:before {
    -webkit-animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
            animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    color: #8b00ff;
    z-index: -1;
 }
 
 .glitch:after {
    animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
    color: #00e571;
    z-index: -2;
 }
 
 @-webkit-keyframes glitch {
    0% {
       -webkit-transform: translate(0);
               transform: translate(0);
    }
 
    20% {
       -webkit-transform: translate(-3px, 3px);
               transform: translate(-3px, 3px);
    }
 
    40% {
       -webkit-transform: translate(-3px, -3px);
               transform: translate(-3px, -3px);
    }
 
    60% {
       -webkit-transform: translate(3px, 3px);
               transform: translate(3px, 3px);
    }
 
    80% {
       -webkit-transform: translate(3px, -3px);
               transform: translate(3px, -3px);
    }
 
    to {
       -webkit-transform: translate(0);
               transform: translate(0);
    }
 }
 
 @keyframes glitch {
    0% {
       -webkit-transform: translate(0);
               transform: translate(0);
    }
 
    20% {
       -webkit-transform: translate(-3px, 3px);
               transform: translate(-3px, 3px);
    }
 
    40% {
       -webkit-transform: translate(-3px, -3px);
               transform: translate(-3px, -3px);
    }
 
    60% {
       -webkit-transform: translate(3px, 3px);
               transform: translate(3px, 3px);
    }
 
    80% {
       -webkit-transform: translate(3px, -3px);
               transform: translate(3px, -3px);
    }
 
    to {
       -webkit-transform: translate(0);
               transform: translate(0);
    }
 }
 @-webkit-keyframes shift {
    0%, 40%, 44%, 58%, 61%, 65%, 69%, 73%, 100% {
       -webkit-transform: skewX(0deg);
               transform: skewX(0deg);
    }
 
    41% {
       -webkit-transform: skewX(10deg);
               transform: skewX(10deg);
    }
 
    42% {
       -webkit-transform: skewX(-10deg);
               transform: skewX(-10deg);
    }
 
    59% {
       -webkit-transform: skewX(40deg) skewY(10deg);
               transform: skewX(40deg) skewY(10deg);
    }
 
    60% {
       -webkit-transform: skewX(-40deg) skewY(-10deg);
               transform: skewX(-40deg) skewY(-10deg);
    }
 
    63% {
       -webkit-transform: skewX(10deg) skewY(-5deg);
               transform: skewX(10deg) skewY(-5deg);
    }
 
    70% {
       -webkit-transform: skewX(-50deg) skewY(-20deg);
               transform: skewX(-50deg) skewY(-20deg);
    }
 
    71% {
       -webkit-transform: skewX(10deg) skewY(-10deg);
               transform: skewX(10deg) skewY(-10deg);
    }
 }
 @keyframes shift {
    0%, 40%, 44%, 58%, 61%, 65%, 69%, 73%, 100% {
       -webkit-transform: skewX(0deg);
               transform: skewX(0deg);
    }
 
    41% {
       -webkit-transform: skewX(10deg);
               transform: skewX(10deg);
    }
 
    42% {
       -webkit-transform: skewX(-10deg);
               transform: skewX(-10deg);
    }
 
    59% {
       -webkit-transform: skewX(40deg) skewY(10deg);
               transform: skewX(40deg) skewY(10deg);
    }
 
    60% {
       -webkit-transform: skewX(-40deg) skewY(-10deg);
               transform: skewX(-40deg) skewY(-10deg);
    }
 
    63% {
       -webkit-transform: skewX(10deg) skewY(-5deg);
               transform: skewX(10deg) skewY(-5deg);
    }
 
    70% {
       -webkit-transform: skewX(-50deg) skewY(-20deg);
               transform: skewX(-50deg) skewY(-20deg);
    }
 
    71% {
       -webkit-transform: skewX(10deg) skewY(-10deg);
               transform: skewX(10deg) skewY(-10deg);
    }
 }
 